.img {
  display: block;
  width: 100%;
  padding: 2rem;
  margin: 0 auto 1rem;
  object-fit: contain;
  border: 2px solid var(--colour-text);
  background-color: #fff;
}

.title {
  font-size: 1.25rem;
}

.subtitle {
  font-size: 0.85rem;
}
