.heading {
	font-size: 1.25rem;
	line-height: 2.5;

	@media (min-width: 520px) {
		font-size: 1.75rem;
		line-height: 2;
	}

	@media (min-width: 650px) {
		font-size: 2.25rem;
	}

	@media (min-width: 768px) {
		font-size: 3rem;
		line-height: 1.5;
	}

	&_two {
		font-size: 1.25rem;

		@media (min-width: 650px) {
			font-size: 2rem;
		}
	}
}