.annotation {
	position: absolute;
	top: 100%;
	left: 100%;
	margin-left: 1.5rem;
	white-space: nowrap;

	&_arrow {
		position: absolute;
		top: 2px;	 
	    left: -2.5rem;
	    transform: rotate(25deg);
	}
}