@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colour-background: #f5fbff;
    --colour-text: #2c4473;
    --colour-text-accent: #EF4A4D;
    --gutter: 1rem;
    --font-body: 'Cormorant Infant', serif;
    --font-cursive: 'Dancing Script', cursive;

  }
}

html, body {
  position:relative;
  height:100%;
  width:100%;
  font-family: var(--font-body);
  color: var(--colour-text);
}

.font {
  &-xs {
    font-size: 0.85rem;

    @media (min-width: 520px) {
      font-size: 1.05rem;
    }
  }

  &-cursive {
    font-family: var(--font-cursive);
  }
}

.container {
  max-width: 780px;
  margin: 0 auto;
  padding: 0 var(--gutter);

  &-fluid {
    padding: 0 var(--gutter);
  }
}